<div class="margin">
  <p>wrong option:{{count}}/3</p>
  <h1 [hidden]="isHide">GAME OVER</h1>
  <div [hidden]="!isHide">
    <div class="row">
      <button (click)="onClick(0,0)" [class]="matrixClass[0][0]">{{matrix[0][0]}}</button>
      <button (click)="onClick(0,1)" [disabled]="isdisabled">{{matrix[0][1]}}</button>
      <button (click)="onClick(0,2)" [class]="matrixClass[0][2]">{{matrix[0][2]}}</button>
      <button (click)="onClick(0,3)" [disabled]="isdisabled">{{matrix[0][3]}}</button>
      <button (click)="onClick(0,4)" [class]="matrixClass[0][4]">{{matrix[0][4]}}</button>
      <button (click)="onClick(0,5)" [disabled]="isdisabled">{{matrix[0][5]}}</button>
      <button (click)="onClick(0,6)" [class]="matrixClass[0][6]">{{matrix[0][6]}}</button>
      <button (click)="onClick(0,7)" [disabled]="isdisabled">{{matrix[0][7]}}</button>
      <button (click)="onClick(0,8)" [class]="matrixClass[0][8]">{{matrix[0][8]}}</button>

    </div>
    <div class="row">
      <button (click)="onClick(1,0)" [class]="matrixClass[1][0]">{{matrix[1][0]}}</button>
      <button (click)="onClick(1,1)" [class]="matrixClass[1][1]">{{matrix[1][1]}}</button>
      <button (click)="onClick(1,2)" [class]="matrixClass[1][2]">{{matrix[1][2]}}</button>
      <button (click)="onClick(1,3)" [disabled]="isdisabled">{{matrix[1][3]}}</button>
      <button (click)="onClick(1,4)" [class]="matrixClass[1][4]">{{matrix[1][4]}}</button>
      <button (click)="onClick(1,5)" [disabled]="isdisabled">{{matrix[1][5]}}</button>
      <button (click)="onClick(1,6)" [class]="matrixClass[1][6]">{{matrix[1][6]}}</button>
      <button (click)="onClick(1,7)" [disabled]="isdisabled">{{matrix[1][7]}}</button>
      <button (click)="onClick(1,8)" [class]="matrixClass[1][8]">{{matrix[1][8]}}</button>
    </div>
    <div class="row">
      <button (click)="onClick(2,0)" [class]="matrixClass[2][0]">{{matrix[2][0]}}</button>
      <button (click)="onClick(2,1)" [disabled]="isdisabled">{{matrix[2][1]}}</button>
      <button (click)="onClick(2,2)" [class]="matrixClass[2][2]">{{matrix[2][2]}}</button>
      <button (click)="onClick(2,3)" [disabled]="isdisabled">{{matrix[2][3]}}</button>
      <button (click)="onClick(2,4)" [class]="matrixClass[2][4]">{{matrix[2][4]}}</button>
      <button (click)="onClick(2,5)" [class]="matrixClass[2][5]">{{matrix[2][5]}}</button>
      <button (click)="onClick(2,6)" [class]="matrixClass[2][6]">{{matrix[2][6]}}</button>
      <button (click)="onClick(2,7)" [class]="matrixClass[2][7]">{{matrix[2][7]}}</button>
      <button (click)="onClick(2,8)" [disabled]="isdisabled">{{matrix[2][8]}}</button>
    </div>
    <div class="row">
      <button (click)="onClick(3,0)" [disabled]="isdisabled">{{matrix[3][0]}}</button>
      <button (click)="onClick(3,1)" [class]="matrixClass[3][1]">{{matrix[3][1]}}</button>
      <button (click)="onClick(3,2)" [class]="matrixClass[3][2]">{{matrix[3][2]}}</button>
      <button (click)="onClick(3,3)" [class]="matrixClass[3][3]">{{matrix[3][3]}}</button>
      <button (click)="onClick(3,4)" [disabled]="isdisabled">{{matrix[3][4]}}</button>
      <button (click)="onClick(3,5)" [class]="matrixClass[3][5]">{{matrix[3][5]}}</button>
      <button (click)="onClick(3,6)" [class]="matrixClass[3][6]">{{matrix[3][6]}}</button>
      <button (click)="onClick(3,7)" [disabled]="isdisabled">{{matrix[3][7]}}</button>
      <button (click)="onClick(3,8)" [class]="matrixClass[3][8]">{{matrix[3][8]}}</button>
    </div>
    <div class="row">
      <button (click)="onClick(4,0)" [class]="matrixClass[4][0]">{{matrix[4][0]}}</button>
      <button (click)="onClick(4,1)" [class]="matrixClass[4][1]">{{matrix[4][1]}}</button>
      <button (click)="onClick(4,2)" [disabled]="isdisabled">{{matrix[4][2]}}</button>
      <button (click)="onClick(4,3)" [class]="matrixClass[4][3]">{{matrix[4][3]}}</button>
      <button (click)="onClick(4,4)" [class]="matrixClass[4][4]">{{matrix[4][4]}}</button>
      <button (click)="onClick(4,5)" [class]="matrixClass[4][5]">{{matrix[4][5]}}</button>
      <button (click)="onClick(4,6)" [disabled]="isdisabled">{{matrix[4][6]}}</button>
      <button (click)="onClick(4,7)" [class]="matrixClass[4][7]">{{matrix[4][7]}}</button>
      <button (click)="onClick(4,8)" [disabled]="isdisabled">{{matrix[4][8]}}</button>
    </div>
     <div class="row">
      <button (click)="onClick(5,0)" [class]="matrixClass[5][0]">{{matrix[5][0]}}</button>
      <button (click)="onClick(5,1)" [disabled]="isdisabled">{{matrix[5][1]}}</button>
      <button (click)="onClick(5,2)" [class]="matrixClass[5][2]">{{matrix[5][2]}}</button>
      <button (click)="onClick(5,3)" [disabled]="isdisabled">{{matrix[5][3]}}</button>
      <button (click)="onClick(5,4)" [class]="matrixClass[5][4]">{{matrix[5][4]}}</button>
      <button (click)="onClick(5,5)" [disabled]="isdisabled">{{matrix[5][5]}}</button>
      <button (click)="onClick(5,6)" [class]="matrixClass[5][6]">{{matrix[5][6]}}</button>
      <button (click)="onClick(5,7)" [disabled]="isdisabled">{{matrix[5][7]}}</button>
      <button (click)="onClick(5,8)" [class]="matrixClass[5][8]">{{matrix[5][8]}}</button>
    </div>
     <div class="row">
      <button (click)="onClick(6,0)" [disabled]="isdisabled">{{matrix[6][0]}}</button>
      <button (click)="onClick(6,1)" [class]="matrixClass[6][1]">{{matrix[6][1]}}</button>
      <button (click)="onClick(6,2)" [class]="matrixClass[6][2]">{{matrix[6][2]}}</button>
      <button (click)="onClick(6,3)" [disabled]="isdisabled">{{matrix[6][3]}}</button>
      <button (click)="onClick(6,4)" [class]="matrixClass[6][4]">{{matrix[6][4]}}</button>
      <button (click)="onClick(6,5)" [disabled]="isdisabled">{{matrix[6][5]}}</button>
      <button (click)="onClick(6,6)" [class]="matrixClass[6][6]">{{matrix[6][6]}}</button>
      <button (click)="onClick(6,7)" [class]="matrixClass[6][7]">{{matrix[6][7]}}</button>
      <button (click)="onClick(6,8)" [class]="matrixClass[6][8]">{{matrix[6][8]}}</button>
    </div>
     <div class="row">
      <button (click)="onClick(7,0)" [class]="matrixClass[7][0]">{{matrix[7][0]}}</button>
      <button (click)="onClick(7,1)" [disabled]="isdisabled">{{matrix[7][1]}}</button>
      <button (click)="onClick(7,2)" [class]="matrixClass[7][2]">{{matrix[7][2]}}</button>
      <button (click)="onClick(7,3)" [disabled]="isdisabled">{{matrix[7][3]}}</button>
      <button (click)="onClick(7,4)" [class]="matrixClass[7][4]">{{matrix[7][4]}}</button>
      <button (click)="onClick(7,5)" [class]="matrixClass[7][5]">{{matrix[7][5]}}</button>
      <button (click)="onClick(7,6)" [class]="matrixClass[7][6]">{{matrix[7][6]}}</button>
      <button (click)="onClick(7,7)" [disabled]="isdisabled">{{matrix[7][7]}}</button>
      <button (click)="onClick(7,8)" [class]="matrixClass[7][8]">{{matrix[7][8]}}</button>
    </div>
     <div class="row">
      <button (click)="onClick(8,0)" [class]="matrixClass[8][0]">{{matrix[8][0]}}</button>
      <button (click)="onClick(8,1)" [disabled]="isdisabled">{{matrix[8][1]}}</button>
      <button (click)="onClick(8,2)" [class]="matrixClass[8][2]">{{matrix[8][2]}}</button>
      <button (click)="onClick(8,3)" [class]="matrixClass[8][3]">{{matrix[8][3]}}</button>
      <button (click)="onClick(8,4)" [disabled]="isdisabled">{{matrix[8][4]}}</button>
      <button (click)="onClick(8,5)" [disabled]="isdisabled">{{matrix[8][5]}}</button>
      <button (click)="onClick(8,6)" [class]="matrixClass[8][6]">{{matrix[8][6]}}</button>
      <button (click)="onClick(8,7)" [disabled]="isdisabled">{{matrix[8][7]}}</button>
      <button (click)="onClick(8,8)" [disabled]="isdisabled">{{matrix[8][8]}}</button>
    </div>
    <div class="row mrgntop">
      <div class="col-1">
        <button (click)="changeValue('1')">1</button>
      </div>
       <div class="col-1">
        <button (click)="changeValue('2')">2</button>
      </div>
       <div class="col-1">
        <button (click)="changeValue('3')">3</button>
      </div>
       <div class="col-1">
        <button (click)="changeValue('4')">4</button>
      </div>
       <div class="col-1">
        <button (click)="changeValue('5')">5</button>
      </div>
       <div class="col-1">
        <button (click)="changeValue('6')">6</button>
      </div>
       <div class="col-1">
        <button (click)="changeValue('7')">7</button>
      </div>
       <div class="col-1">
        <button (click)="changeValue('8')">8</button>
      </div>
       <div class="col-1">
        <button (click)="changeValue('9')">9</button>
      </div>
      <div class="col-3"></div>
    </div>
</div>
 